{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tareas</title>
</head>
<body>
    {% block content %}
    <main class="container">
        <h1>Bienvenido a mi página de tareas</h1>
        <h2>Pagina de tareas</h2>
        <p>Esta es la página muestra todas las tareas de mi aplicación Django.</p>
        <ul>            
            <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.fecha }}</td>
            <td>{{ tarea.precio }}</td>
            <td>{{ tarea.usuario }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>  
    </main>
    {% endblock %}
    
</body>
</html>