{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tareas</title>
    <link rel="stylesheet" href="{% static 'styles/estilos.css' %}">  
</head>
<body>
    {% block content %}
    <main class="container">
        <h1>Bienvenido a mi página de tareas</h1>
        <h2>Pagina de tareas</h2>
        <p>Esta es la página muestra todas las tareas de mi aplicación Django.</p>
        <table class="table">
            <thead>
                <tr class="table-header">                    
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Usuario</th>
                    <th>imagenes</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            {% for tarea in tareas %}
            <tr class="table-row">
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>{{ tarea.precio }}</td>
                <td>{{ tarea.usuario }}</td>
                <td>
                    <img src="{{tarea.imagen.url }}" style="width: 100px; height: auto;">
                </td>
                <td>
                    <button><a href="{% url 'modificar_tarea' tarea.id %}" class = "btn btn-primary">Modificar</a></button>
                    <button><a href="{% url 'eliminar_tarea' tarea.id %}"  class = "btn btn-danger">Eliminar</a></button>
                </td>
            </tr>
            <ul> 
                
            {% endfor %}
        </ul>
        </table>
        
    </main>
    {% endblock %}
    
</body>
</html>