{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tareas</title>
</head>
<body>
    {% block content %}
    <main class="container">
        <h1>Bienvenido a mi página de tareas</h1>
        <p>Esta es la página de tareas de mi aplicación Django.</p>
        <ul>
            {% for tarea in tareas %}
                <li>{{ tarea.nombre }}</li>
                <li>{{ tarea.descripcion }}</li>
                <li>{{ tarea.fecha }}</li>
                <li>{{ tarea.precio }}</li>
                <li>{{ tarea.usuario }}</li>
            {% endfor %}
        
        <h1>Pagina de tareas</h1>
    </main>
    {% endblock %}
    
</body>
</html>